.store {
  display: flex;
  flex-direction: row;
  overflow: wrap;
  width: 100vw;
  /* height: 100vh; */
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
