.calculator {
  /* display: flex;
  flex-direction: column; */
  width: 40vw;
  text-align: left;
}

.select {
  display: flex;
  flex-direction: column;
}

.submitcalc {
  height: 5vh;
  width: 10vw;
  font-size: 13px;
  border: 0.5px solid black;
}

.submitcalc:hover {
  border: 0.5px solid white;
  background-color: black;
  color: pink;
}
