.header {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  /* padding-top: 1%;
  padding-bottom: 1%; */
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: 10px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.links {
  margin-top: 1%;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  font-family: "Megrim", cursive;
}

.loginbtn {
  margin-top: 0.5%;
  height: 5vh;
  width: 10vw;
  font-size: 13px;
  border: 0.5px solid black;
  margin-right: 2%;
}

.loginbtn:hover {
  border: 0.5px solid white;
  background-color: black;
  color: pink;
}

.title {
  margin-top: 1%;
  margin-left: 5%;
}
