.App {
  text-align: center;
  /* background: linear-gradient(
      rgba(230, 230, 230, 0.637),
      rgba(185, 185, 185, 0.63)
    ),
    url("Home.jpg"); */
  height: 100vh;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: pink;
}

/* a:visited {
  color: black;
} */

a:active {
  color: pink;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
